/* This is general styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* This is styling for the header */

.header-container {
  padding: 35px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.ham-icon {
  font-size: 22px;
  margin-right: 7px;
}
header h1 {
  margin-right: 22px;
}

.category-div {
  font-size: 14px;
}
.category-div a {
  margin-right: 20px;
}

.search-div {
  flex: 0 1 30%;
  margin: 0px auto;
}

.search-div .search-input {
  width: 100%;
  padding: 13px;
  border-radius: 50px;
  border: 0.2px solid black;
}

input:focus {
  outline: none;
}

.search-div i {
  position: absolute;
  top: 50px;
  margin-left: 20px;
  color: grey;
}

.cart-icon {
  margin-right: 10px;
}

.cart-user-div {
  font-size: 16px;
}

/* styles for the mobile nav */

#responsive-header {
  display: none;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
  align-items: start;
}
.flex-row {
  flex-direction: row;
  align-items: center;
}
.flex-row-1 {
  flex-direction: row;
  margin-left: auto;
}
.logo-div {
  margin-left: 5px;
  margin-top: 15px;
}
.mobile-search-div {
  width: 75%;
  margin-left: 5px;
  margin-top: 20px;
}
.mobile-search-input {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  border: 0.2px solid black;
}
.right-icons {
  margin-left: auto;
  margin-right: 15px;
}

.mobile-search-icon {
  position: absolute;
  left: 10px;
}
.mobile-category-div {
  margin-top: 30px;
  padding-left: 10px;
}

.mobile-category-div a {
  margin: 10px;
}
#first-child {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;

  width: 100%;
}

#second-child {
  display: none;
}
.relative {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  opacity: 0.5;
}

#x {
  display: none;
  margin-left: 5px;
  margin-right: 3px;
  font-size: 22px;
}
/* This is for the section-div1 */

.section-div1 {
  background-color: black;
  text-align: center;
  color: whitesmoke;
  padding: 130px;
}

.section-div1 h2 {
  font-size: xx-large;
}

.section-div1 p {
  margin-top: 20px;
}

.section-div1 button {
  font-size: 18px;
  border-radius: 50px;
  border: 0.2px solid black;
  background-color: white;
  padding: 15px;
  margin-top: 45px;
}
/* This is the styling dor the product section in index.html */

.section-div2 {
  width: 90%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  flex: 0 1 20%;
  margin-right: 12px;
  margin-bottom: 50px;
}
.box-image {
  width: 100%;
  border-radius: 9px;
}

/* styles for the product.html */

.main-div {
  margin-top: 70px;
  padding-left: 50px;
}
.cont-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.prod-box {
  flex: 1 1 45%;
}
.article-box {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prod-img {
  width: 100%;
  border-radius: 9px;
}

.prod-title-price-div {
  margin-top: 10px;
  margin-left: 30px;
}

.prod-title {
  font-size: large;
  margin-right: 5px;
}
.prod-price {
  font-size: x-large;
}
.article-h2 {
  margin: 30px 2px;
}

.article-h4 {
  align-self: flex-start;
  margin-left: 20px;
}
.article-para {
  margin-top: 5px;
  margin-left: 20px;
  padding: 3px;
  line-height: 35px;
}

.article-btn-div {
  margin-top: 20px;
}
.buy-div {
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  background-color: orange;
}
.add-to-cart {
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
}

/* queries */

@media screen and (max-width: 800px) {
  .box {
    flex: 0 1 35%;
    margin-right: 12px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1024px) {
  #main-header {
    display: none;
  }
  #responsive-header {
    display: block;
  }
}
/* queries for product.html */
@media screen and (min-width: 426px) {
  .cont-div {
    flex-direction: column;
  }
  .main-div {
    padding-left: 10px;
  }
  .article-btn-div {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 300px) {
  .cont-div {
    flex-direction: column;
  }
  .main-div {
    padding-left: 2px;
  }
  .article-btn-div {
    margin-bottom: 3px;
  }
}

@media screen and (min-width: 1024px) {
  .cont-div {
    flex-direction: row;
    align-items: center;
  }
  .main-div {
    padding-left: 30px;
  }
  .article-btn-div {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1240px) {
  .cont-div {
    width: 1200px;
    margin: 0px auto;
  }
  .main-div {
    padding-left: 30px;
  }
  .article-btn-div {
    margin-bottom: 5px;
  }
}
/* media queries for product.html ends */

.section-div2 p {
  font-weight: bold;
  font-size: 12px;
}

/* this is styling for the footer */

footer {
  background-color: #fafafb;
}
.footer-div {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.col1,
.col2,
.col3 {
  margin-top: 40px;
  margin-right: 60px;
  padding: 20px;
  text-align: center;
}

.footer-div h3 {
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.footer-div div p {
  margin: 17px;
  font-size: 12px;
}

.social-icons {
  text-align: center;
  font-size: 22px;
}

footer h2 {
  margin-top: 50px;
  text-align: center;
}
